@charset "utf-8";

.curriculums_wrapper{
  margin: 0 auto;
  width: 90%;
}

.return_btn{
  margin: 10px auto 0 20px;
  font-size: 1.25rem;
  font-weight: bold;
}

.attendance_area{
  display: flex;
  margin-top: 5px;
}

.video_area{
  width: 50%;
  height: 100%;
}

video{
  width: 100%;
}

.hidden_video{
  background-color: #dcdcdc;
  width: 50%;
  height: 360px;
  position: relative;
}

.hidden_video p{
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform : translate(-50%,-50%);
  transform : translate(-50%,-50%);
  text-align: center;
}

.clear_area{
  width: 50%;
}

.clear_btn{
  margin-top: 25%;
  font-size: 1.25rem;
  color: #fff;
  border-radius: 15px;
  padding: 0.5rem 2.75rem;
  background-color: #f26b4a;
  border: 1px solid #d2691e;
}

.no_press_area{
  width: 50%;
  height: 360px;
  position: relative;
}

.no_press{
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform : translate(-50%,-50%);
  transform : translate(-50%,-50%);
  text-align: center;
  font-size: 1.25rem;
  color: #696969;
  border-radius: 15px;
  padding: 0.5rem 2.75rem;
  background-color: #dcdcdc;
  border: 1px solid #a9a9a9;
}



.grade_area{
  color: #fff;
  margin-top:0.75rem;
  width: 180px;
  text-align: left;
  border-radius: 15px;
  padding: 0.5rem 2.75rem;
  background-color: #89e5f5;
  border: 1px solid #707070;
}

.description_area{
  margin-top: 12px;
  text-align: left;
}

.description_title{
  font-size: 2rem
}