@charset "utf-8";

.curriculums-wrapper{
  margin: 0 auto;
  width: 90%;
  height: 100vh;
}

.return-btn{
  margin: 10px auto 0 20px;
  font-size: 1.25rem;
  font-weight: bold;
}

.attendance{
  margin-top: 5px;
  width: 100%;
  height: 40%;
}

.attendance__video-area{
  width: 50%;
}

.attendance__clear-area{
  width: 50%;
  position: relative;
}

iframe{
  width: 100%;
  height: auto;
  aspect-ratio: 16 / 9;
}

.attendance__hidden-video{
  background-color: #dcdcdc;
  width: 100%;
  height: 100%;
  position: relative;
}

.attendance__hidden-video p{
  text-align: left;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  -webkit-transform: translate(-50%,-50%);
}

.clear-btn{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  -webkit-transform: translate(-50%,-50%);
  text-align: center;
  font-size: 1.25rem;
  color: #fff;
  border-radius: 15px;
  padding: 0.5rem 2.75rem;
  background-color: #f26b4a;
  border: 1px solid #d2691e;
}

.no-press{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  -webkit-transform: translate(-50%,-50%);
  text-align: center;
  font-size: 1.25rem;
  color: #696969;
  border-radius: 15px;
  padding: 0.5rem 2.75rem;
  background-color: #dcdcdc;
  border: 1px solid #a9a9a9;
}



.grade_area{
  color: #fff;
  margin-top:0.75rem;
  width: 180px;
  text-align: left;
  border-radius: 15px;
  padding: 0.5rem 2.75rem;
  background-color: #89e5f5;
  border: 1px solid #707070;
}

.description_area{
  margin-top: 12px;
  text-align: left;
}

.description_title{
  font-size: 2rem
}