@charset "utf-8";

.top-wrapper{
  width: 70vw;
  margin: 0 auto;
}

/*スライドショーcss*/

.slider{
  margin: 60px auto 0 auto;
}

.slider img{
  width: 100%;
  height: 240px;
  object-fit: cover;
  object-position: center center;
}

.slick-dots li button {
  font-size: 0;
  line-height: 0;
  display: block;
  width: 20px;
  height: 20px;
  padding: 5px;
  cursor: pointer;
  border: 0;
  outline: none;
  border-radius:50%;
  background:#866b6b;/*ドットボタンの色*/
}

.slick-dots .slick-active button{
  background:#6d5454;/*ドットボタンの現在地表示の色*/
}

.slick-dots li button:before {
  font-family: 'slick';
  font-size: 6px;
  line-height: 20px;
  position: absolute;
  top: 0;
  left: 0;
  width: 20px;
  height: 20px;
  content: '';
  text-align: center;
  opacity: .25;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/*スライドショーcssここまで*/

.article-container{
  margin-top: 60px;
}

.article-title{
  font-size: 1.75rem;
  text-align: left;
}


.article-area{
  margin: 30px auto 0 auto;
  width: 80%;
  border: 1px #c1c1c1 solid;
  border-radius: 25px;
}

.article-ul{
  display: inline-block;
  width: 95%;
  height: 120px;
  overflow: auto; 
  text-align: left;
  margin-top: 10px;
  margin-bottom: 10px;
}

.article-li{
  margin-top: 10px;
}

.article-li:last-child{
  margin-bottom: 10px;
}

.title-area{
  margin-left: 30px;
}
