/* 全体 */
.navbar {
    width: 100%;
    height: 100px;
    background-color: #add8e6;
    display: flex;
    justify-content: space-between; /* 左右に要素を配置 */
    align-items: center; /* 垂直方向中央寄せ */
    padding: 0 20px; /* 左右にパディング */
}
 /* 授業管理等ボタン */
.navbar-nav .nav-link {
    color: white; /* テキストの色を白に */
    font-weight: bold; /* 太字 */
    background-color: #092f55; 
    padding: 10px 20px; 
    border-radius: 15px; /* 角を丸くする */
    margin: 0 5px; /* ボタン間の余白 */
    text-align: center; /* 中央揃え */
    display: inline-block; /* ボタンのような表示 */
    text-decoration: none; /* 下線を削除 */
}
.navbar-nav .nav-link:hover {
    color: #f2ff00; /* ホバー時の色 */
}
/* ログアウト */
.dropdown-menu-end{
    background-color: #ffffff; /* メニューの背景色 */
    position: absolute; /* 絶対位置 */
    right: 20px; /* 右寄せ */
}
.navbar-nav.ms-auto {
    margin-left: auto; /* 右寄せ */
}
.nav-item.dropdown {
    position: relative; /* ドロップダウンメニューの親要素に相対位置を設定 */
}

.navbar-nav {
    list-style: none; 
    padding: 0; 
    margin: 0; 
    display: flex;
    align-items: center;
}
.content {
    padding: 20px;
}